body {
  position: relative; /* For scrollyspy */
  /*font-family: 'Lato', sans-serif !important;*/
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  /*font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.text-origin {
    border: 1px solid #EEE;
    background: #EEE;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}
.text-origin div {
    vertical-align: middle;
}
.text-origin h1 {
    padding: 0;
    margin: 10px;
    font-size: 1.2em;
    line-height: 1.2em;
}
.text-origin a {
    font-size: 1em;
    line-height: 2.6em;
    padding: 0;
    margin: 0;
}

.label.normal {
    background: blue;
}
.label.abnormal {
    background: red;
}

.pathes {
}

.w60 {
    width: 60px;
}
.w100 {
    width: 100px;
}